////////////////////////////////////////////////////////////////////
//
// YAML Core
//
////////////////////////////////////////////////////////////////////

// Disable/Enable Core Modules
// ---------------------------------
$ym-base-normalization	: true;
$ym-base-floathandling	: true;
$ym-base-columns		: true;
$ym-base-grids			: true;
$ym-base-forms			: true;
$ym-base-accessibility	: true;
$ym-base-print			: true;

// Config: Columns Module
// ---------------------------------
$ym-column-width		: 20%;
$ym-cbox-padding		: 10px;

// Config: Grids Module
// ---------------------------------
$ym-rounding-tolerance	: -5px;
$ym-gbox-padding		: 10px;

// Config: Print Module
// ---------------------------------
$ym-print-fontsize		: 10pt;
$ym-print-abbreviation	: false;
$ym-print-href			: false;

////////////////////////////////////////////////////////////////////
//
// Typography Module
//
////////////////////////////////////////////////////////////////////

// Font Settings
// ---------------------------------
$ym-font-sans				: "Droid Sans", Arial, Helvetica, sans-serif;
$ym-font-serif				: "Droid Serif", Georgia, "Times New Roman", Times, serif;
$ym-font-monospace			: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;

$ym-body-font 				: $ym-font-serif;
$ym-header-font 			: $ym-font-sans;
$ym-header-font-weight 		: 400;

// Color Settings
// ---------------------------------
// standard typography colors
$ym-text-color				: #444;
$ym-headings-color			: #161e21;
$ym-blockquote-text-color	: #666;
$ym-blockquote-bg-color		: transparent;
$ym-pre-text-color			: #800;
$ym-kbd-text-color			: #666;
$ym-mark-text-color			: #000;
$ym-mark-bg-color			: #ff0;

// highlight colors
$ym-highlight-info-color	: #f4f4f4;
$ym-highlight-success-color	: #8c8;
$ym-highlight-warning-color	: #cc8;
$ym-highlight-error-color	: #c88;

// link colors
$ym-link-text-color			: #4d87c7;
$ym-link-bg-color			: transparent;
$ym-link-focus-text-color	: #fff;
$ym-link-focus-bg-color		: #4d87c7;

// special colors
$ym-hr-color				: #eee;
$ym-highlight-text-color	: #c30;
$ym-dimmed-text-color		: #888;

// abbr and acronym 
// ---------------------------------------------------
// border marking acronym and abbrevation
$ym-acronym-abbr-border 	: 1px #aaa dotted;

// Links
// ---------------------------------------------------
// text-decoration for link in different states
$ym-a-text-decoration 		: none;
$ym-a-hover-text-decoration : none;

// Vertical Rhythm
// ---------------------------------------------------
// font values have to be defined in [px] without unit
$ym-default-font-size		: 16;
$ym-base-font-size			: 14;
$ym-base-line-height		: 21;

$ym-h1-font-size			: 48;
$ym-h2-font-size			: 32;
$ym-h3-font-size			: 24;
$ym-h4-font-size			: 21;
$ym-h5-font-size			: 18;
$ym-h6-font-size			: 14;
$ym-text-big-font-size		: 16;
$ym-text-small-font-size	: 12;

// scale factors (don't change - unless you know what you do)
$line-height				: $ym-base-line-height / $ym-base-font-size;
$ym-h1-font-scale			: $ym-h1-font-size / $ym-base-font-size;
$ym-h2-font-scale			: $ym-h2-font-size / $ym-base-font-size;
$ym-h3-font-scale			: $ym-h3-font-size / $ym-base-font-size;
$ym-h4-font-scale			: $ym-h4-font-size / $ym-base-font-size;
$ym-h5-font-scale			: $ym-h5-font-size / $ym-base-font-size;
$ym-h6-font-scale			: $ym-h6-font-size / $ym-base-font-size;
$ym-text-font-scale			: 1;
$ym-text-big-font-scale		: $ym-text-big-font-size / $ym-base-font-size;
$ym-text-small-font-scale	: $ym-text-small-font-size / $ym-base-font-size;

// Box
// ---------------------------------------------------
$ym-box-border-radius 		: 0.3em;
$ym-box-border-width 		: 1px;
$ym-box-border-style 		: solid;
$ym-box-border-color-old 	: #888;
$ym-box-border-color-modern : rgba(0,0,0,.3);
$ym-box-color-old 			: #444;
$ym-box-color-modern 		: rgba(0,0,0,.8);

// Table
// ---------------------------------------------------
$ym-table-border-top 		: 1px #ccc solid;
$ym-table-border-bottom 	: 1px #ccc solid;
$ym-table-border-left 		: false;
$ym-table-border-right 		: false;

$ym-table-td-padding 		: ($ym-base-line-height - 1 ) / $ym-base-line-height * $line-height / 2 * 1em 0.5em;
$ym-table-narrow-td-padding : 0 0.5em;

$ym-table-bordertable-border 			: 1px #ccc solid;
$ym-table-bordertable-background 		: #e0e0e0;
$ym-table-bordertable-background-row 	: #f0f0f0;

$ym-table-thead-border-top 				: false;
$ym-table-thead-border-bottom 			: 2px #000 solid;
$ym-table-thead-border-left 			: false;
$ym-table-thead-border-right 			: false;

$ym-table-tbody-th-border-top 			: 1px #ccc solid;
$ym-table-tbody-th-border-bottom 		: false;
$ym-table-tbody-th-border-left 			: false;
$ym-table-tbody-th-border-right 		: false;

$ym-table-tbody-td-border-top 			: 1px #ccc solid;
$ym-table-tbody-td-border-bottom 		: false;
$ym-table-tbody-td-border-left 			: false;
$ym-table-tbody-td-border-right 		: false;

$ym-table-row-hover-background 			:#f8f8f8;